@import "vars";
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  color: #111;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  /*쓴 순서대로 적용이 됨. 영어가 중요하다면 우선 적용할 폰트 먼저.*/
}
a {
  color: inherit; /*색상 부모로부터 강제 상속*/
  text-decoration: none;
}
img {
  vertical-align: top; //이미지 확대할 때 살짝 어긋나는 현상 사라지게 함
}
button {
  background: none;
  border: none;
  outline: none;
}
.hidden {
  display: none;
}

#header {
  z-index: 99;
  position: fixed; /*자식 크기만큼만 줄어들음*/
  width: 100%;
  height: 90px;
  overflow: hidden;
  transition: all 0.25s ease;
  background-color: rgba($color: #333, $alpha: 0.3);
  &.open {
    height: 35 * 7+90px;
    background-color: rgba(39, 39, 39, 0.8);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    top: 89px; /*overflow해서 90px보다 작은 값 써야 함*/
    // width: 100%;
    left: 0;
    right: 0; //이것도 결국 100%를 의미, 숫자를 쓴 만큼 좌우에서 벌어짐
    background-color: rgba(255, 255, 255, 0.5);
  }
  // top: 0;
  // background-color: rgba(31, 31, 31, 0.8);
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    #logo {
      a {
        display: flex;
        align-items: center;
        height: 90px;
      }
    }
    #gnb {
      text-align: center;
      color: #fff;
      .list {
        display: flex;
        > li {
          > a {
            font-size: $medium-size;
            font-weight: 530;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            padding: 0 50px;
          }
          .depth02 {
            li {
              a {
                display: block;
                padding: 15px 0;
              }
            }
          }
        } //.list>li
      }
    }

    .etc {
      display: flex;
      align-items: center;
      height: 90px;
      color: #fff;
      .online {
        padding: 18px 40px;
        border: 2px solid #fff;
        border-radius: 100px;
        transition: all 0.25s ease;
        &:hover {
          background-color: $main-color;
          border-color: $main-color;
        }
      }
      .all {
        width: 60px;
        height: 50px;
        position: relative;
        span {
          display: block;
          width: 30px;
          height: 2px;
          background-color: #fff;
          position: absolute;
          left: 30px;
          transition: all 0.25s ease;
          &:nth-child(1) {
            top: 14px;
          }
          &:nth-child(2) {
            top: 24px;
          }
          &:nth-child(3) {
            top: 34px;
          }
        } //span
        &.open {
          //javascript로 사용자로부터 요소를 바꿀 수 있도록 값을 받아 class에 open을 적도록 해서 모양이 바뀜
          span {
            &:nth-child(1) {
              transform: rotate(-45deg);
              top: 24px;
            }
            &:nth-child(2) {
              left: -100px;
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(45deg);
              top: 24px;
            }
          }
        }
      } //all
    } //etc
  }
}
